App_WebReferences/ServiceReference2/ProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="setProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtTel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setProfileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setPasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="setProfileSoapIn">
    <wsdl:part name="parameters" element="tns:setProfile" />
  </wsdl:message>
  <wsdl:message name="setProfileSoapOut">
    <wsdl:part name="parameters" element="tns:setProfileResponse" />
  </wsdl:message>
  <wsdl:message name="setPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:setPassword" />
  </wsdl:message>
  <wsdl:message name="setPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:setPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="ProfileServiceSoap">
    <wsdl:operation name="setProfile">
      <wsdl:input message="tns:setProfileSoapIn" />
      <wsdl:output message="tns:setProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <wsdl:input message="tns:setPasswordSoapIn" />
      <wsdl:output message="tns:setPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProfileServiceSoap" type="tns:ProfileServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setProfile">
      <soap:operation soapAction="http://tempuri.org/setProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <soap:operation soapAction="http://tempuri.org/setPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProfileServiceSoap12" type="tns:ProfileServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setProfile">
      <soap12:operation soapAction="http://tempuri.org/setProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPassword">
      <soap12:operation soapAction="http://tempuri.org/setPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="ProfileServiceSoap" binding="tns:ProfileServiceSoap">
      <soap:address location="http://61.19.252.56/SarPMS0/Services/ProfileService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProfileServiceSoap12" binding="tns:ProfileServiceSoap12">
      <soap12:address location="http://61.19.252.56/SarPMS0/Services/ProfileService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>